<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.94041126250-o4fsmdupcha7qgqip8lnoph10npkvkp8</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to capture images for document scanning and PDF conversion.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to select images for document scanning and PDF conversion.</string>
</dict>
</plist>
