# Xcode
xcuserdata/
build/
DerivedData/
*.ipa
*.dSYM

# Sensitive Files (Never commit these!)
GoogleService-Info.plist
Config/APIKeys.swift
Info-plist
gpu_base_model2/
setup/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

#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
